<footer>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
               </div>
               <div class="col-lg-7 col-md-8 col-sm-8">
                  <h3>Bog‘lanish</h3>
                  <ul class="location_icon">
                     <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> Termiz shahri
                        <br> Surxondaryo viloyati
                     </li>
                     <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>tibmalaka@mail.ru<br> tib.malaka@umail.uz</li>
                     <li><a href="#"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></a>(76) 22-3-71-48; <br>(76) 22-3-71-18</li>
                  </ul>
                  <ul class="social_icon">
                     <li> <a href="https://www.facebook.com/tibmalaka.termiz/"><i class="fa fa-facebook-f"></i></a></li>
                     <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li> <a href="https://t.me/tibmalaka_termiz"> <i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                     <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
               </div>
               <div class="col-lg-2 col-md-4 col-sm-4">
                  <h3>Sahifalar</h3>
                  <ul class="link_icon">
                     <li class="active"> <a href="index.html">Bosh sahifa</a></li>
                     <li>
                        <a href="about.html">
                           </i>Biz haqimizda
                     </li>
                     <li> <a href="service.html"> </i>Bo‘limlar</a></li>
                     <li> <a href="team.html"></i>Tuzilma</a></li>
                     <li> <a href="client.html"></i>Yangiliklar</a></li>
                     <li> <a href="contact.html"></i>Bog‘lanish</a></li>
                  </ul>
               </div>
                 <div class="col-lg-2 col-md-4 col-sm-4">
                  <h3>Yangiliklarga <br> obuna bo‘ling</h3>
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="news" placeholder="Email" type="type" name="Your Email">
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Yuborish</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="copyright">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <p>© 2022 Barcha huquqlar himoyalangan.<a href="https://www.instagram.com/step_digital_marketing/"> Created by Step marketing agency</a></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>