   {% load static %}
   <header>
      <!-- header inner -->
      <div class="header">
         <div class="header_to d_none">
            <div class="container">
               <div class="row">
                  <div class="col-md-3 col-sm-3">
                     <ul class="lan">
                        <li><i class="fa fa-globe" aria-hidden="true"></i> Til : <img src="{% static 'images/uzflag1.png' %}" alt="#" style="width: 15px;"/></li>
                     </ul>
                     <form action="#">
                        <div class="select-box">
                           <label for="select-box1" class="label select-box1"><span class="label-desc">O‘bekcha</span> </label>
                           <select id="select-box1" class="select">
                              <option value="Choice 1">O‘bekcha</option>
                              <option value="Choice 1">Falkla</option>
                              <option value="Choice 2">Germa</option>
                              <option value="Choice 3">Neverl</option>
                           </select>
                        </div>
                     </form>
                  </div>
                  <div class="col-md-9 col-sm-9 ">
                     <ul class="social_icon1">
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> (76) 22-3-71-48; (76) 22-3-71-18</a> </li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> tib.malaka@umail.uz</a> </li>
                        </li>
                        <li> <a href="https://www.facebook.com/tibmalaka.termiz/"><i class="fa fa-facebook" aria-hidden="true"></i>
                           </a>
                        </li>
                        <li> <a href="https://t.me/tibmalaka_termiz"><i class="fa fa-telegram"></i></a></li>
                        <!-- <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li> -->
                        
                    
                           
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="header_midil">
            <div class="container">
               <div class="row d_flex">
                  <div class="col-md-4 col-sm-4 d_none">
                     <a class="logo" href="#"><img src="{% static 'images/malaka_logo.png' %}" alt="#" style="width: 150px;" /></a>
                     </ul>
                  </div>
                  <div class="col-md-8 col-sm-8 ">
                     <a href="">
                        <h1 class="text-logo">Respublika o‘rta tibbiyot va farmatsevtika xodimlari malakasini oshirish va ularni ixtisoslashtirish markazi <span>TERMIZ FILIALI </span></h1>
                     </a>
                  </div>
                  <div class="col-md-4 col-sm-4 d_none">
                     
                  </div>
               </div>
            </div>
         </div>
         <div class="header_bo">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="{% url 'post:index' %}"> Bosh sahifa </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'post:about' %}">Biz haqimizda</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'post:team' %}">Jamoa</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'post:service' %}">Bo‘limlar</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'post:postList' %}">Yangiliklar</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'contact:send-msg' %}">Bog‘lanish</a>
                              </li>
                              {% if user.is_staff %}
                                 <li class="nav-item">
                                    <a class="nav-link" href="{% url 'post:postNew' %}">Qo'shish</a>
                                 </li>
                              {% endif %}
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>